body {
  background-image: url('discover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: #050159;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #041f4c;
  position: fixed;
  margin: 0;
  padding: 20px 0;
  z-index: 1000;
}
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.hamburger div {
  width: 100%;
  height: 2px;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}
.logo span {
  font-size: 1em;
  color: white;
  vertical-align: middle;
}
footer {
  background-color: #041f4c;
  padding: 5px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  padding-top: 20px;
}
.social-icons a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
footer p {
  bottom: 0px;
  font-size: 10px;
}
.menu {
  display: none;
  position: absolute;
  top: 70px;
  background-color: #041f4c;
  overflow: hidden;
  z-index: 1000;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  animation: slideDown 0.5s ease-in-out forwards;
}
.menu a {
  display: block;
  padding: 10px 20px;
  color: #e0e1dd;
  text-decoration: none;
  transition: background 0.3s;
  text-align: center;
}
.menu a:hover {
  color: white;
}
.menu-active {
 display: block;
}
.line {
  height: 4px;
  background-color: black;
  transition: all 0.3s ease;
}
.middle {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.active .middle {
  opacity: 0; /* Hide the middle line */
}
.active .top {
  transform: rotate(45deg) translate(5px, 5px); /* Rotate top line */
}
.active .bottom {
  transform: rotate(-45deg) translate(5px, -5px); /* Rotate bottom line */
}
.contents {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  flex-direction: column;
  padding-bottom: 40px;
}
.image img {
  width: 100%;
  border-radius: 50%;
  animation: breathing 1s infinite ease-in-out;
  box-shadow: 0px 0px 40px rgba(135,224,254,0.495);
  background-color: #041f4c;
}
.image {
  width: 60%;
  margin: 10px auto;
  animation: slideUp 1s ease-in-out forwards;
}
.main-content {
  margin: 0;
  padding: 0;
}
.contents h2 {
  margin-top: 150px;
  font-size: 20px;
  color: white;
}
.contents h3 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: 5px;
}
.register-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #48e4fa;
  color: #041f4c;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  border: none;
  font-weight: bold;
}
@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
       }
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
       }
}
#faster {
  background-color: #041f4c;
  width: 100%;
  border-radius: 0;
  color: white;
  padding: 50px 0px;
  box-shadow: 0px 10px 40px rgba(135,224,254,0.495);
}
#faster p, #faster h2 {
  color: white;
  width: 80%;
  margin: 10px auto;
}
#faster p {
  color: #d4d4d4;
}
#faster img {
  width: 100%;
}
.mage {
  width: 80%;
  margin: 20px auto;
  
}
.mage img {
  width: 100%;
  border-radius: 20px;
}
.explanation-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    animation: slideUp 1s ease-in-out forwards;
    align-items: center;
    padding: 50px 0;
    color: white;
    padding-bottom: 0;
}

.keypoint {
    flex: 1;
    width: 250px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
    animation: slideUp 1s ease-in-out forwards;
    margin-top: 40px;
}

.keypoint:hover {
    transform: translateY(-5px);
}
.keypoints {
  padding: 10px;
    border:solid 0.5px #feb47b;
    border-radius: 8px;
    margin-top: 30px;
}

.keypoints h3 {
    margin: 15px 0 10px;
    color: white;
    font-size: 15px;
}

.keypoint p {
    color: #bdbdbd;
    font-size: 10px;
}
.section {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  background-color: none;
  border-radius: 10px;
  width: 80%;
}
.section h2 {
  border-bottom: 2px solid #48e4fa;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: white;
}
.section img {
  width: 100%;
  border: solid 1px #48e4fa;
  border-radius: 20px;
}
.section p {
  color: #d4d4d4;
}
.norm {
  align-items: center;
  text-align: center;
  color: white;
  background: #041f4c;
  padding: 30px 0;
  margin-top: 50px;
  box-shadow: 0px -20px 40px rgba(135,224,254,0.495);
 }
 .norm p {
   width: 80%;
   margin: 20px auto;
 }
 .just {
   padding: 50px 0;
 }
 .best {
  background: #041f4c; 
 }

 #main a {
   text-decoration: none;
   color: #feb47b;
 }
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(255,255,255,0.135);
  backdrop-filter: blur(5px);
}
.modal {
  background-color: #041f4c;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  position: relative;
  max-width: 400px;
  width: 90%;
  top: 30%;
  padding-bottom: 200px;
  animation: slideUp 0.3s ease-in-out forwards;
  box-shadow: 0px -20px 40px rgba(135,224,254,0.495);
}

.modal h3 {
  margin-bottom: 20px;
  color: white;
}
.modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  margin-top: 50px;
  width: 70%;
}
.modal-button {
  padding: 10px 20px;
  background-color: #48e4fa;
  color: #041f4c;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid white;
  font-weight: bold;
}

.modal-button:hover {
  background-color: #36a8d1;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 10px;
  cursor: pointer;
  color: #48e4fa;
}
.maybe {
  width: 80%;
  margin: 20px auto;
  text-align: left;
  margin-top: 0;
}
.maybe p {
  color: #d4d4d4;
}
.maybe strong {
  color: white;
}
.best {
  box-shadow: 0px -20px 40px rgba(135,224,254,0.495);
}
.iconss i {
  font-size: 100px;
  color: #48e4fa;
}
.gradient-text {
      font-size: 3em;
      font-weight: bold;
      background: linear-gradient(to right, #ff7e5f, #feb47b);
      -webkit-background-clip: text;
      color: transparent;
    }